@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("components/main.css");
@import url("components/about.css");
@import url("components/city.css");
@import url("components/contacts.css");


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: 'Lora', serif;
  font-size: 18px;
  margin: 0px;  
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
 }

a {
	text-decoration: none;

}

.container {
  width:900px;
  margin: 0 auto;
}

@media(max-width: 1000px){
  .container{
    width: 700px;
  }
  .contacts__form{
    width: 45%;
  }
  .contacts__avatar{
    width: 45%;
    height: auto;
  }
}
@media(max-width: 800px){
  .container{
    width: 500px;
  }
  .contacts__avatar{
    height: 45%;
    margin: auto 0;
  }
}
@media(max-width: 600px){
  .container{
    width: 90%;
  }
}
@media(max-width: 400px){
  .about{
    padding: 0;
  }
  .contacts__wrapper{
    flex-direction: column;
  }
  .contacts__avatar{
    width: 100%;
  }
  .contacts__form{
    width: 100%;
  }
}