@media(max-width: 1000px){
	.container{
		width: 700px;
		margin:0 auto;
	}
	.contacts__form{
		width: 45%;
	}
	.contacts__avatar{
		width: 45%;
		height: auto;
	}
}
@media(max-width: 800px){
	.container{
		width: 500px;
		margin:0 auto;
	}
}